{{#paper-list class="list-flex-layout__container"}}
  {{#paper-subheader}}
    <h2>
      {{cleanup-text name}}
    </h2>

    {{paper-input class="flex-50" label="Name" value=search_value onChange=(action "update_search")}}
  {{/paper-subheader}}

  <div class="epd-l-pokeFilter__container">
    {{#each sorted_pokemon as |pokemon|}}
      {{#link-to 'pokemon.pokemon_id' pokemon.id class="list-flex-layout__item epd-l-pokeFilter__item"}}
        {{#paper-item class="md-2-line"}}
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon_id pokemon.url}}.png" alt="" class="md-avatar epd-l-pokeFilter__image">
          <div class="md-list-item-text">
            <h3>#{{pokemon.id}}: {{cleanup-text pokemon.name}} {{#if pokemon.is_hidden}}<strong>(hidden)</strong>{{/if}}</h3>
          </div>
        {{/paper-item}}  
      {{/link-to}}
    {{/each}}
  </div>
{{/paper-list}}
