<div class="epd-l-pokemon__intro">
  <h1 class="epd-l-pokemon__introName">
    #{{model.base.id}}: {{ model.base.name }}
  </h1>

  <div class="epd-l-pokemon__introSprites">
    <img src="{{model.base.sprites.front_default}}" alt="Front sprite for {{ model.base.name }}">

    {{#if model.base.sprites.front_shiny}}
      <img src="{{model.base.sprites.front_shiny}}" alt="Front shiny sprite for {{ model.base.name }}">
    {{/if}}
  </div>
</div>

<div class="epd-l-pokemon__basics">
  <div class="epd-l-pokemon__basicTypes">
    {{#each model.base.types as |type|}}
      {{#link-to "type.type-id" type.type.name}}
        {{image-chip
          chipText=type.type.name
          color=type.type.name
        }}
      {{/link-to}}
    {{/each}}
  </div>

  <div class="epd-l-pokemon__basicColors">
    {{#link-to "pokemon_color.pokemon_color_id" model.species.color.name}}
      {{color-chip
        chipText=model.species.color.name
        color=model.species.color.name
      }}
    {{/link-to}}
  </div>

  <div class="epd-l-pokemon__basicAbilities">
    <ul>
      {{#each model.base.abilities as |ability| }}
        {{#link-to "ability.ability_id" ability.ability.name}}
          <li>
            {{ ability.ability.name }} - {{ ability.is_hidden }}
          </li>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>

  <div class="epd-l-pokemon__basicShape">
    <h5>
      Shape: {{#link-to 'pokemon_shape.pokemon_shape_id' model.species.shape.name}}
        {{ model.species.shape.name }}
      {{/link-to}}
    </h5>
  </div>
</div>

<div class="epd-l-pokemon__tabs">
  <ul>
    <li>
      {{#link-to "pokemon.pokemon-id.evolution" model.base.id}}
        Species Info
      {{/link-to}}
    </li>
    <li>
      {{#link-to "pokemon.pokemon-id.moves" model.base.id}}
        Moves
      {{/link-to}}
    </li>
    <li>
      {{#link-to "pokemon.pokemon-id.pokedex" model.base.id}}
        Pokedex
      {{/link-to}}
    </li>
    <li>
      {{#link-to "pokemon.pokemon-id.stats" model.base.id}}
        Stats
      {{/link-to}}
    </li>
    <li>
      {{#link-to "pokemon.pokemon-id.tms" model.base.id}}
        TMs
      {{/link-to}}
    </li>
  </ul>
</div>

<div class="epd-l-pokemon__tabWindow">
  {{ outlet }}
</div>

{{#paper-list class="epd-l-pokemon__footer"}}
  {{#link-to "pokemon.pokemon-id" model.base.prev_id}}
    {{#paper-item class="md-2-line"}}
      <img src={{sprite model.base.prev_id}} class="md-avatar">
      <div class="md-list-item-text">
        <h3>Previous Pokemon</h3>
      </div>
    {{/paper-item}}
  {{/link-to}}

  {{#link-to "pokemon.pokemon-id" model.base.next_id}}
    {{#paper-item class="md-2-line"}}
      <img src={{sprite model.base.next_id}} class="md-avatar">
      <div class="md-list-item-text">
        <h3>Next Pokemon</h3>
      </div>
    {{/paper-item}}
  {{/link-to}}
{{/paper-list}}