<div class="epd-l-pokemon__intro">
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline class="epd-l-pokemon__introName"}}#{{model.base.id}}: {{ model.base.name }}{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    <div class="epd-l-pokemon__introSprites">
      <img src="{{model.base.sprites.front_default}}" alt="Front sprite for {{ model.base.name }}">

      {{#if model.base.sprites.front_shiny}}
        <img src="{{model.base.sprites.front_shiny}}" alt="Front shiny sprite for {{ model.base.name }}">
      {{/if}}
    </div>
  {{/paper-card}}
</div>

{{#paper-card class="epd-l-pokemon__basics"}}
  <div class="epd-l-pokemon__basicInfo">
    <ul>
      <li>
        {{#link-to "generation.generation_id" generation.id}}
          <strong>Generation <span class="epd-h-uppercase">{{generation.numeral}}</span></strong>
        {{/link-to}}
      </li>
      {{#each genus as |genus|}}
        <li>{{ genus.genus }} Pokemon</li>
      {{/each}}
      <li>Height: {{model.base.height_meters}}</li>
      <li>Weight: {{model.base.weight_kg}}</li>
      {{#if model.species.habitat.name}}
        <li>Habitat:
          {{#link-to "pokemon_habitat.pokemon_habitat_id" habitat_id}}
            {{cleanup-text model.species.habitat.name}}
          {{/link-to}}
        </li>
      {{/if}}
      <li>Capture Rate: {{model.species.capture_rate}}</li>
      <li>Growth Rate: 
        {{#link-to "growth_rate.growth_rate_id" growth_rate_id}}
          {{cleanup-text model.species.growth_rate.name}}
        {{/link-to}}
      </li>
      <li>Hatch Rate: {{ model.species.hatch_steps }} steps</li>
    </ul>
  </div>
  <div class="epd-l-pokemon__basicAbilities">
    <h4>
      Abilities:
    </h4>

    <ul>
      {{#each sorted_abilities as |ability| }}
        {{#link-to "ability.ability_id" ability.id}}
          <li>
            {{cleanup-text ability.name}}{{#if ability.is_hidden}} (hidden){{/if}}
          </li>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>

  <div class="epd-l-pokemon__basicTags">
    <div class="epd-l-pokemon__basicTagGroup">
      {{#link-to 'pokemon_shape.pokemon_shape_id' model.species.shape_id}}
        {{image-chip
          chipText=model.species.shape.name
          color='shape'
          chipImage=model.species.shape_img_path
        }}
      {{/link-to}}
    </div>

    <div class="epd-l-pokemon__basicTagGroup">
      {{#each types_data as |type|}}
        {{#link-to "type.type-id" type.id}}
          {{image-chip
            chipText=type.name
            color=type.name
            chipImage=type.url
          }}
        {{/link-to}}
      {{/each}}
    </div>

    <div class="epd-l-pokemon__basicTagGroup">
      {{#link-to "pokemon_color.pokemon_color_id" model.species.color_id}}
        {{color-chip
          chipText=model.species.color.name
          color=model.species.color.name
        }}
      {{/link-to}}
    </div>
  </div>
{{/paper-card}}

<div class="epd-l-pokemon__tabs">
  {{#link-to "pokemon.pokemon_id.pokedex" model.base.id class="epd-l-pokemon__tabLink"}}
    {{#paper-button primary=true class="epd-l-pokemon__tabButton" raised=true}}
      Pokedex
    {{/paper-button}}
  {{/link-to}}

  {{#link-to "pokemon.pokemon_id.stats" model.base.id class="epd-l-pokemon__tabLink"}}
    {{#paper-button primary=true class="epd-l-pokemon__tabButton" raised=true}}
      Stats
    {{/paper-button}}
  {{/link-to}}

  {{#link-to "pokemon.pokemon_id.moves" model.base.id class="epd-l-pokemon__tabLink"}}
    {{#paper-button primary=true class="epd-l-pokemon__tabButton" raised=true}}
      Moves
    {{/paper-button}}
  {{/link-to}}

  {{#link-to "pokemon.pokemon_id.evolution.evolution_chain" model.base.id evolution_id class="epd-l-pokemon__tabLink"}}
    {{#paper-button primary=true class="epd-l-pokemon__tabButton" raised=true}}
      Evolution
    {{/paper-button}}
  {{/link-to}}
</div>

<div class="epd-l-pokemon__tabWindow">
  {{ outlet }}
</div>

{{#paper-list class="epd-l-pokemon__footer"}}
  {{#link-to "pokemon.pokemon_id" model.base.prev_id}}
    {{#paper-item class="md-2-line"}}
      <img src={{sprite model.base.prev_id}} class="md-avatar">
      <div class="md-list-item-text">
        <h3>Previous Pokemon</h3>
      </div>
    {{/paper-item}}
  {{/link-to}}

  {{#link-to "pokemon.pokemon_id" model.base.next_id}}
    {{#paper-item class="md-2-line"}}
      <img src={{sprite model.base.next_id}} class="md-avatar">
      <div class="md-list-item-text">
        <h3>Next Pokemon</h3>
      </div>
    {{/paper-item}}
  {{/link-to}}
{{/paper-list}}